# This is a basic workflow to help you get started with Actions

name: Code Quality
# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  check-common:
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: 'macos-latest' # for Arm based macs (M1 and above).
            args: '--target aarch64-apple-darwin'
            docker_platform: 'linux/arm64,linux/amd64'
          - platform: 'macos-latest' # for Intel based macs.
            args: '--target x86_64-apple-darwin'
            docker_platform: 'linux/arm64,linux/amd64'
          - platform: 'ubuntu-22.04'
            args: ''
            docker_platform: 'linux/amd64'
          - platform: 'windows-latest'
            args: ''
            docker_platform: 'windows/amd64' # adjust based on your image build support

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
      - name: Install Dependencies
        run: npm install
      - name: Run format
        run: make format
      - name: Run lint
        run: make lint
      - name: Run typecheck
        run: make check
      - name: Run tests
        run: make test
      - name: Build project
        run: npm run build
      - name: Check for uncommitted changes
        run: make check-diff
